.DS_Store
*Thumbs.db
.rvmrc
.rbenv-version
.ruby-version
.screenrc
*.swp
*.bak
.~lock*#
*.swf
**/bin-debug/*.*
**/bin-debug/*/
**/html-template/*.*
**/html-template/*/

faye/.bundle
faye/log/*.log
faye/tmp/*
faye/vendor/*

faye-client-as/bin/faye-client-as.swc
